<!DOCTYPE html>
<html lang="en">
  <head>
    <title>kittens </title>
  </head>
  <body>
    <h1> All the Kittens </h1>
    <ul>
      <% kittens.forEach(function(kitt) { %>
        <li>
          <a href="/kittens/<%= kitt.id %>">
            <%= kitt.name %>
          </a>
        </li>
      <% }); %>
    </ul>
    <a href="/kittens/new">Add a Kitten</a>
</body>

</html>
